.banner{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.banner img{
    margin: 0px;
    padding:0px;
    max-width: 100%;
}

.bannertext{
    position: absolute;
    top: 25%;
    left: 30%;
    font-family: "mikrobe-variable",sans-serif;
    font-variation-settings: 'wdth' 116;
    color:rgb(243, 240, 201);
}

.bannertext h5{
    font-size: 75px;
}

body {
    overflow-x: hidden;
    background-color: rgb(243, 240, 201);
}

#ingredientssection{
    max-width: 45%;
    padding-left:10px;
    padding-right:10px;
}

#ingredientssection h4{
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
}

#ingredientssection h2{
    font-family: "mikrobe-variable",sans-serif;
    font-variation-settings: 'wdth' 116;
    color: rgb(255, 122, 39);
}

#image2{
    max-width:45%;
    padding-left:10px;
    padding-right:10px;
}

#image2{
    position: absolute;
    top: 900px;
    right:0px;
}

#howsection{
    max-width:45%;
    padding-left:10px;
    padding-right:10px;
}

#howsection h4{
    font-family:verdana;
    font-weight:normal;
    font-size: 12px;
}

#howsection h2{
    font-family: "mikrobe-variable",sans-serif;
    font-variation-settings: 'wdth' 116;
    color: #e93030;
}

#cooksection{
    max-width:45%;
    padding-left:10px;
    padding-right:10px;
}

#cooksection h4{
    font-family:verdana;
    font-weight:normal;
    font-size: 12px;
}

#cooksection h2{
    font-family: "mikrobe-variable",sans-serif;
    font-variation-settings: 'wdth' 116;
    color: rgb(77, 205, 70);
}

.stripetext{
    height: 50px;
    width: 100%; 
    margin: 0;
    padding: 15px;
    background-color: rgb(154, 203, 55);
    color:rgb(243, 240, 201);
}

img {
    width: 100%;
    margin: 0;
    padding:0;
}

header{
    margin: 0;
    padding:0;
    font-family: "mikrobe-variable",sans-serif;
}